    /* Section Call To Action Background */
    
    .section-call-to-action-top {
        width: 100%;
        min-height: 80px;
        background: white;
        margin-top: 80px;
        position: relative;
    }
    
    .section-call-to-action-top h3 {
        display: block;
        font-size: 45px;
    }
    
    @media(max-width: 768px) {
        .section-call-to-action-top h3 {
            font-size: 35px;
        }
    }
    
    #sloganMessage {
        position: absolute;
        left: 50%;
        background-color: #32313182;
        overflow: hidden;
        padding-left: 8px;
        animation: openclose 1.5s ease-in-out infinite alternate-reverse;
    }
    
    @media(max-width: 768px) {
        #sloganMessage {
            left: 5%;
        }
    }
    
    @keyframes openclose {
        0% {
            width: 8px;
        }
        10% {
            width: 8px;
        }
        40% {
            width: 350px;
        }
        100% {
            width: 350px;
        }
    }
    
    #sloganMessage p {
        width: 350px;
        font-size: 30px;
        font-weight: 500;
        color: #f4b7b1;
        margin-top: 0;
    }
    
    @media(max-width: 768px) {
        #sloganMessage p {
            font-size: 25px;
            width: 280px;
        }
    }
    
    .section-call-to-action-bg {
        width: 100%;
        min-height: 450px;
        background-image: url(/Content/images/background-to-call-to-action.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    @media(max-width: 765) {
        .section-call-to-action-bg {
            min-height: 600px;
            background-image: url(/Content/images/background-to-call-to-action-phone.jpg);
        }
    }
    
    .section-call-to-action-bottom {
        transform: translateY(-50px);
        box-shadow: 0 0 10px #2222223d;
        background: white;
        padding: 50px 4%;
        max-width: 850px;
        margin: auto;
    }
    
    .wrap-steps {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
    }
    
    @media (max-width: 800px) {
        .wrap-steps {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    .wrap-steps .box-step {
        padding: 15px;
        cursor: default;
        user-select: none;
    }
    
    @media (max-width: 800px) {
        .wrap-steps .box-step {
            min-height: 200px;
        }
    }
    
    .wrap-steps .box-step h5 {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    
    @media (min-width: 800px) {
        .wrap-steps .box-step h5 {
            min-height: 70px;
        }
    }
    
    @media (max-width: 800px) {
        .wrap-steps .box-step h5 {
            font-size: 17px;
        }
    }
    
    .wrap-steps .box-step .circle-step {
        height: 90px;
        width: 90px;
        border: 5px solid rgb(238, 237, 237);
        border-radius: 100%;
        margin: auto;
        text-align: center;
        background: white;
        position: relative;
        transition: all .2s ease-in-out;
    }
    
    @media (max-width: 800px) {
        .wrap-steps .box-step .circle-step {
            transform: scale(1.2);
        }
        .wrap-steps .box-step .circle-step {
            margin-top: 20px;
        }
    }
    
    .wrap-steps .box-step:hover .circle-step {
        background: #dcacab;
    }
    
    .wrap-steps .box-step .circle-step p {
        transition: all .2s ease-in-out;
        font-size: 14px;
        color: #454343;
    }
    
    .wrap-steps .box-step .circle-step p span {
        font-size: 20px;
        display: block;
        font-weight: 700;
        line-height: 1;
    }
    
    .wrap-steps .box-step:hover .circle-step p {
        color: white;
    }
    
    .section-call-to-action-bottom .timeline {
        height: 3px;
        width: 100%;
        background: rgb(238, 237, 237);
        margin: auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    @media (max-width: 800px) {
        .section-call-to-action-bottom .timeline {
            height: 800px;
            width: 3px;
            background: rgb(238, 237, 237);
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 40px;
            left: 10%;
        }
    }
    
    .section-call-to-action-bottom .timeline .timeline-progress {
        content: "";
        width: 0;
        height: 100%;
        background: #dcacab;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s ease-in-out;
    }
    
    @media (max-width: 800px) {
        .section-call-to-action-bottom .timeline .timeline-progress {
            width: 100%;
            height: 0;
            transition: all .6s ease-in-out;
        }
    }
    
    .section-call-to-action-bottom .timeline .line-step {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .section-call-to-action-bottom .timeline .line-step svg {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -12px;
        left: 0;
        right: 0;
        background: white;
        margin: auto;
        transition: all .3s ease-in-out;
        fill: rgb(238, 237, 237);
    }
    
    @media (max-width: 800px) {
        .section-call-to-action-bottom .timeline .line-step svg {
            top: 90px;
            left: -12px;
        }
        .section-call-to-action-bottom .timeline .line-step.fill svg {
            transform: scale(1.2);
            fill: #dcacab;
        }
        .section-call-to-action-bottom .timeline .line-step.fill::before {
            width: 100%;
        }
    }
    
    .section-call-to-action-bottom .text-steps h4 {
        font-weight: 600;
        color: #dcacab;
        margin-top: 45px;
    }
    
    .section-call-to-action-bottom .text-steps p {
        margin-top: 10px;
        font-size: 15px;
    }
    
    .section-call-to-action-bottom .text-steps div {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    
    @media (max-width: 800px) {
        .section-call-to-action-bottom .text-steps h4 {
            margin-top: 75px;
            text-align: center;
        }
        .section-call-to-action-bottom .text-steps p {
            text-align: center;
            margin-top: 20px;
            font-size: 17px;
        }
        .section-call-to-action-bottom .text-steps div {
            margin-top: 35px;
            justify-content: center;
        }
    }
    
    .section-call-to-action-bottom .text-steps div .button.type-3 {
        background: #dcacab;
        color: white;
        animation: wiggle 4s 2s infinite;
    }
    
    .section-call-to-action-bottom .text-steps div .button.type-3:before,
    .section-call-to-action-bottom .text-steps div .button.type-3::after {
        border-color: transparent;
    }
    
    @keyframes wiggle {
        5% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.9);
        }
        15% {
            transform: scale(1.15);
        }
        20% {
            transform: scale(1.15) rotate(-5deg);
        }
        25% {
            transform: scale(1.15) rotate(5deg);
        }
        30% {
            transform: scale(1.15) rotate(-3deg);
        }
        35% {
            transform: scale(1.15) rotate(2deg);
        }
        40% {
            transform: scale(1.15) rotate(0);
        }
        50% {
            transform: scale(1);
        }
    }
    /* End Section Call To Action Background */
    /* My Pop Up Call To Action */
    
    #my_divPopUp {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 500px;
        height: 500px;
        background: #4087bd;
        z-index: 99;
        padding: 30px 15px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        opacity: 0;
    }
    
    #my_divPopUp h4 {
        color: white;
        text-transform: capitalize;
        font-size: 35px;
        font-weight: 700;
    }
    
    #my_divPopUp h4 span {
        display: block;
        font-size: 24px;
        font-weight: 400;
    }
    
    @media(min-width: 1000px) {
        #my_divPopUp.my_divPopUp-active {
            display: block;
            opacity: 1;
            transition: all .5s ease-in-out;
            animation-name: my_animation-ShowUp;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }
    }
    
    @keyframes my_animation-ShowUp {
        from {
            opacity: 0;
            transform: translateY(150px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    /* End My Pop Up Call To Action */
    /* Contact Form Pop Up*/
    
    #sliderContactForm {
        height: 100%;
        width: 100%;
        padding: 50px 15px;
    }
    /* End Contact Form Pop Up */