* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #8711c1 20%, #2472fc);
}

.container {
  width: 60%;
}

.tabs-control a {
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

.tabs-control a.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: #2472fc;
}

.tabs-content {
  background-color: #fff;
  padding: 25px;
}

.tabs-content .box {
  display: none;
}

.tabs-content .box h2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 1330px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 30px 10px !important;
  }

  .tabs-control a {
    padding: 13px !important;
  }
}